h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

.cclifeline-header {
}

.form-group .required .control-label:after {
    content:"*";color:red;
}

.nav > li.disabled > a {
    color: #777;
    font-weight: bold;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    font-weight: bold;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    border-bottom-color: white;
}

.nav-tabs > li > a.active {
    border-style: solid;
    border-color: #ddd;
    border-bottom-color: white;
    border-width: 2px;
}

