h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

.cclifeline-header {
    padding-bottom: 9px;
    margin: 10px 0 10px;
}

.form-group .required .control-label:after {
    content:"*";color:red;
}