<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <link rel="manifest" href="/images/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <title>Centenary Club Lifeline - Enter Payment</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script th:src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
    </script>

</head>
<body>

<div th:include="/fragments/navigation :: header-side-nav"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="cclifeline-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><i class="fa fa-gbp" aria-hidden="true"></i></div>
                            <div>Add Payment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="createPaymentForm" class="form-horizontal" role="form" action="#" th:action="@{/payment}"
          th:object="${payment}" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label">Payment Date:</label>
            <div class="col-sm-7">
                <input type="date" required="required" class="form-control datepicker" th:field="*{paymentDate}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Payment Amount (£):</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{paymentAmount}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Credit Reference:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{creditReference}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Credited Account:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{creditedAccount}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Member:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{memberId}">
                    <option value="0" selected="selected"></option>
                    <option th:each="member : ${members}" th:value="${member.id}"
                            th:text="${member.membershipNumber} + ': ' + ${member.forename}  + ' ' + ${member.surname}">
                        Membership Number
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <a th:href="@{/}" class="btn btn-default " role="button">Back</a>
            <button id="resetBtn" type="reset" class="btn btn-default btn-danger">Reset</button>
            <button id="createBtn" type="submit" class="btn btn-default btn-success active">Save</button>

        </div>
    </form>
    <br/>

</div>

</body>
</html>