<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common-header :: common-header"></head>

<body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script>
    $(document).ready(function() {
        // select the payerType dropdown
        const payerTypeSelect = $('select[name="payerType"]');

        // select the div with id "fanbaseId"
        const fanbaseIds = $('.fanbase');

        // hide the div initially
        fanbaseIds.hide();

        // add change event listener to the advertType dropdown
        payerTypeSelect.change(function() {
            if ($(this).val() === 'Fanbase') {
                // show the div if Fanbase is selected
                fanbaseIds.show();
            } else {
                // hide the div otherwise
                fanbaseIds.hide();
            }
        });
    });
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>
<div th:include="/fragments/navigation :: header-side-nav"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="cclifeline-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div>Add Member</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="createMemberForm" class="form-horizontal" role="form" action="#" th:action="@{/member}"
          th:object="${member}" method="post">

        <div class="form-group">
            <label class="col-sm-3 control-label">Membership Number:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{membershipNumber}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Forename:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{forename}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Surname:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{surname}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Membership Type:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{membershipType}">
                    <option th:value="Lifeline" th:selected="selected">Lifeline</option>
                    <option th:value="Legacy">Legacy</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Payer Type:</label>
            <div class="col-sm-7">
                <select name="payerType" class="form-control" th:field="*{payerType}">
                    <option th:value="Monthly" th:selected="selected">Monthly (Standing Order)</option>
                    <option th:value="Fanbase">Monthly (Fanbase)</option>
                    <option th:value="Quarterly">Quarterly</option>
                    <option th:value="Annual">Annual</option>
                </select>
            </div>
        </div>
        <div class="form-group fanbase">
            <label class="col-sm-3 control-label fanbase">Fanbase ID:</label>
            <div class="col-sm-7 fanbase">
                <input type="text" class="form-control" th:field="*{fanbaseId}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" th:field="*{email}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Phone Number:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{landlineNumber}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mobile Number:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{mobileNumber}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Comments:</label>
            <div class="col-sm-7">
                <textarea type="text" class="form-control" th:field="*{comments}" placeholder="(Optional)"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Requested no contact:</label>
            <div class="col-sm-9">
                <input type="checkbox" class="checkbox" th:field="*{emailOptOut}"/>
            </div>
        </div>

        <div class="row">
            <a th:href="@{/}" class="btn btn-default " role="button">Back</a>
            <button id="resetBtn" type="reset" class="btn btn-default btn-danger">Reset</button>
            <button id="createBtn" type="submit" class="btn btn-default btn-success active">Save &amp; Continue</button>

        </div>
    </form>
    <br/>

</div>

</body>
</html>