<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common-header :: common-header"></head>

<body>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>
<div th:include="/fragments/navigation :: header-side-nav"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="cclifeline-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><i class="fa fa-gbp" aria-hidden="true"></i></div>
                            <div>Edit Payment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="editPaymentForm" class="form-horizontal" role="form" action="#" th:action="@{/edit-payment}"
          th:object="${payment}" method="post">

        <div class="form-group">
            <input type="hidden" required="required" class="form-control" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Payment Date:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control datepicker"
                       th:field="*{paymentDate}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Payment Amount (£):</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{paymentAmount}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Credit Reference:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{creditReference}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{name}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Credited Account:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{creditedAccount}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Member:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{memberId}">
                    <option value="0" selected="selected"></option>
                    <option value="0">-----------------------------------------</option>
                    <option value="0">Possible matches</option>
                    <option value="0">-----------------------------------------</option>
                    <option th:each="member : ${possiblePayers}" th:value="${member.id}"
                            th:text="${member.membershipNumber} + ': ' + ${member.forename}  + ' ' + ${member.surname} + ': ' + ${member.status}">
                        Membership Number
                    </option>
                    <option value="0"></option>
                    <option value="0">-----------------------------------------</option>
                    <option value="0">All members</option>
                    <option value="0">-----------------------------------------</option>
                    <option th:each="member : ${members}" th:value="${member.id}"
                            th:text="${member.membershipNumber} + ': ' + ${member.forename}  + ' ' + ${member.surname} + ': ' + ${member.status}">
                        Membership Number
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Match member to this Credit
                Reference in future</label>
            <div class="col-sm-9">
                <input type="checkbox" class="checkbox" th:field="*{storeReferenceForMatching}"/>
            </div>
        </div>

        <div class="row">
            <div class="panel-body">
                <a th:href="@{/payment/} + ${payment.id}" class="btn btn-default " role="button">Back</a>
                <button id="resetBtn" type="reset" class="btn btn-default btn-danger">Reset</button>
                <button id="createBtn" type="submit" class="btn btn-default btn-success active">Save</button>
            </div>
        </div>
    </form>
    <br/>

</div>

</body>
</html>