<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.css}"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <link rel="manifest" href="/images/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <title>Centenary Club Lifeline - Add Member</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script th:src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/jquery-ui.js}"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
    </script>

</head>
<body>

<div th:include="/fragments/navigation :: header-side-nav"></div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="cclifeline-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div>Add Member</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="createMemberForm" class="form-horizontal" role="form" action="#" th:action="@{/edit-member}"
          th:object="${member}" method="post">

        <div class="form-group">
            <input type="hidden" required="required" class="form-control" th:field="*{id}"/>
        </div>

        <div class="form-group">
            <input type="hidden" required="required" class="form-control" th:field="*{membershipNumber}"/>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Membership Number:</label>
            <div class="col-sm-7">
                <input type="text" disabled="disabled" required="true" class="form-control"
                       th:field="*{membershipNumber}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Forename:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{forename}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Surname:</label>
            <div class="col-sm-7">
                <input type="text" required="required" class="form-control" th:field="*{surname}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Membership Type:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{membershipType}">
                    <option th:value="Lifeline">Lifeline</option>
                    <option th:value="Legacy">Legacy</option>
                    <option th:value="PremiumLegacy">Premium Legacy</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{status}">
                    <option th:value="Open">Open</option>
                    <option th:value="Closed">Closed</option>
                    <option th:value="Cancelled">Cancelled</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Payer Type:</label>
            <div class="col-sm-7">
                <select class="form-control" th:field="*{payerType}">
                    <option th:value="Monthly">Monthly</option>
                    <option th:value="Annual">Annual</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Join Date:</label>
            <div class="col-sm-7">
                <input type="date" required="required" class="form-control datepicker" th:field="*{joinDate}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" th:field="*{email}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Phone Number:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{landlineNumber}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mobile Number:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" th:field="*{mobileNumber}" placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Card Request Date:</label>
            <div class="col-sm-7">
                <input type="date" class="form-control datepicker" th:field="*{cardRequestDate}"
                       placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Card Issue Date:</label>
            <div class="col-sm-7">
                <input type="date" class="form-control datepicker" th:field="*{cardIssuedDate}"
                       placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Welcome Letter Issue Date:</label>
            <div class="col-sm-7">
                <input type="date" class="form-control datepicker" th:field="*{welcomeLetterIssuedDate}"
                       placeholder="(Optional)"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Comments:</label>
            <div class="col-sm-7">
                <textarea type="text" class="form-control" th:field="*{comments}" placeholder="(Optional)"></textarea>
            </div>
        </div>

        <div class="row">
            <a th:href="@{/member/} + ${member.membershipNumber}" class="btn btn-default " role="button">Cancel</a>
            <button id="updateBtn" type="submit" class="btn btn-default btn-success active">Save</button>

        </div>
    </form>
    <br/>

</div>

</body>
</html>